appdirs==1.4.3
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
cycler==0.10.0
distlib==0.3.0
filelock==3.0.12
idna==2.9
kiwisolver==1.1.0
matlab==0.1
matplotlib==3.2.1
numpy==1.18.2
pipenv==2018.11.26
pyparsing==2.4.6
python-dateutil==2.8.1
requests==2.23.0
six==1.14.0
urllib3==1.26.5
virtualenv==20.0.17
virtualenv-clone==0.5.4
webdriver-manager==2.4.0
